body {
    margin-left: 50px;
    background:#141414;
    color: #bcbcbc;
    font-size: 19px;
     
}

#id1 {
	color:#F0E68C;
    text-decoration: none;
}

.block1 { 
    width: 1500px; 
    background:  #333333;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    float: left;
    align-self: center;
   }