body {
    margin-left: 200px;
    margin-right: 200px;
    background:#141414;
    color: #bcbcbc;
    font-size: 19px;
     
}

#id1 {
	color:#F0E68C;
    text-decoration: none;
}

.block3 { 
    background:  #333333;
    padding: 5px;
    padding-right: 20px; 
    padding-left: 20px;
    border: solid 1px black; 
    float: left;
    border-radius: 50px;
    border: 1px solid#333333; /* Параметры рамки */
   }